html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height")
		
		link(rel="stylesheet", href="css/main.css")
		link(href="slider/jquery.bxslider.css" rel="stylesheet")
		link(rel="stylesheet" href="source/jquery.fancybox.css" type="text/css" media="screen")
		link(rel="stylesheet" href="css/jquery.arcticmodal-0.3.css")
		link(href="favicon.ico" rel="shortcut icon" type="image/x-icon" )
		script(src="js/jquery-2.1.4.min.js")
		<!-- bxSlider Javascript file -->
		script(src="js/jquery.bxslider.min.js")
		script(type="text/javascript" src="source/jquery.fancybox.js")
		script(type="text/javascript" src="js/jquery.arcticmodal-0.3.min.js")
	body
		.gallery-container
			.header
						img(src="images/header2.png", alt="")
						.wrapper-header
							.logo
								img(src="images/logo.png", alt="")
							.slogan
								p КАЧЕСТВЕННЫЕ И НАДЕЖНЫЕ 
								p РОЛЬСТАВНИ ОТ ПРОИЗВОДИТЕЛЯ!
							.contacts
								img(src="images/phone.png", alt="")
								p +7(495) 722-47-45
								p +7(495) 722-47-45
			.navigation
				ul
					li
						a(href="#") Рольставни
						ul.inside
							li
								a(href="#") Для дома, дачи, квартиры
							li
								a(href="#") Для магазина и бизнеса
							li
								a(href="#") По типу установки
							li
								a(href="#") Комплектующие
							li.last-menu
								a(href="#") По материалам

					li
						a(href="#") О компании
					li
						a(href="#") Услуги
					li
						a(href="#") Цены
					li
						a(href="#") Галерея
					li
						a(href="#") Инфорация
					li
						a(href="#") Контакты
			.gal-content
				.pagination
					a(href="#") Главная
					span /
					a(href="#") Цены
				h1.pr1 ЦЕНЫ НА РОЛЬСТАВНИ
				h2.price-title ГРУППА КОМПАНИЙ "РОЛПРОМ" ПРЕДЛАГАЕТ РОЛЬСТАВНИ (РОЛЛЕТЫ) НА ОЧЕНЬ ВЫГОДНЫХ УСЛОВИЯХ:
				.price-wrapper
						p.list  Лучшая цена на рынке - благодаря своему производству рольставней!
						img.check(src="images/check.png", alt="")
						p.list  Конструкция, замеры, предоставление чертежей - БЕСПЛАТНО!
						img.check(src="images/check.png", alt="")
						p.list  Изготовление и монтаж рольставней не более трех дней!
						img.check(src="images/check.png", alt="")
						p.list  Гибкая система скидок!
						img.check(src="images/check.png", alt="")
						p.list  Монтаж оборудования - 15-20%( в зависимости от сложности)
						img.check(src="images/check.png", alt="")
						p.list  Доставка по Москве от 500 рублей!
						img.check(src="images/check.png", alt="")
						p.list  Доставка по области от 1000 рублей!
						img.check(src="images/check.png", alt="")
						p.list  Гарантия на мотаж и оборудование 12 месяцев!
				.price-image
					img(src="images/skidka.png", alt="")
					.price-ski
						p.ski1 -5%
						p.ski2 Скидка от цены конкурентов
				h2.price-title ПРАЙСЛИСТ НА РОЛЬСТАВНИ И АВТОМАТИКУ

				table.technic
					tr
						th Тип профиля
						th Артикул
						th Вес м²/кг
						th Применение
						th Ширина проёма
						th Цена 1м²
					tr
						td.edit1(rowspan="7" valign="top") Профиль алюминиевый с пенным наполнением
						td.edit2(colspan="5" valign="top") Бытовое применение - окна, балконы, пазильоны, беседки, санузлы
					tr.edit3
						td AR39/N
						td 220 кг/м²
						td до 6,2 м²
						td не более - 2.0 м
						td 2400 руб/м²
					tr
						td AR39/N
						td 220 кг/м²
						td до 6,2 м²
						td не более - 2.0 м
						td 2400 руб/м²
					tr.edit3
						td.edit2(colspan="5" valign="top") Бытовое применение - окна, балконы, пазильоны, беседки, санузлы
					tr
						td AR39/N
						td 220 кг/м²
						td до 6,2 м²
						td не более - 2.0 м
						td 2400 руб/м²
					tr.edit3
						td AR39/N
						td 220 кг/м²
						td до 6,2 м²
						td не более - 2.0 м
						td 2400 руб/м²
					tr
						td AR39/N
						td 220 кг/м²
						td до 6,2 м²
						td не более - 2.0 м
						td 2400 руб/м²
					tr.edit3
						td.edit1(rowspan="3" valign="top") Алюминиевый экструдированный профиль повышенной прочности
						td AR39/N
						td 220 кг/м²
						td до 6,2 м²
						td не более - 2.0 м
						td 2400 руб/м²
					tr
						td AR39/N
						td 220 кг/м²
						td до 6,2 м²
						td не более - 2.0 м
						td 2400 руб/м²
					tr.edit3
						td AR39/N
						td 220 кг/м²
						td до 6,2 м²
						td не более - 2.0 м
						td 2400 руб/м²
					tr
						td.edit1(rowspan="3" valign="top") Алюминиевый экструдированный профиль повышенной прочности
						td.edit2(colspan="5" valign="top") Бытовое применение - окна, балконы, пазильоны, беседки, санузлы
					tr.edit3
						td AR39/N
						td 220 кг/м²
						td до 6,2 м²
						td не более - 2.0 м
						td 2400 руб/м²
					tr
						td AR39/N
						td 220 кг/м²
						td до 6,2 м²
						td не более - 2.0 м
						td 2400 руб/м²
				table.auto
					tr
						th Автоматика и опции
						th Вес
						th Цена
					tr.edit3
						td(colspan="3" valign="top") Бытовое и промышленное применение
					tr
						td Кардан
						td до 30 кг
						td 2100 руб
					tr.edit3
						td Пружинноиннерционный механизм
						td до 30 кг
						td 2100 руб
					tr
						td AN Motors
						td до 30 кг
						td 2100 руб
					tr.edit3
						td AN Motors NHK
						td до 30 кг
						td 2100 руб
					tr
						td Somfy
						td до 30 кг
						td 2100 руб
					tr.edit3
						td Expert
						td до 30 кг
						td 2100 руб
					tr
						td Ключ-замок
						td до 30 кг
						td 2100 руб
					tr.edit3
						td Клавиша
						td до 30 кг
						td 2100 руб
					tr
						td Пульт
						td до 30 кг
						td 2100 руб
					tr.edit3
						td Кардан
						td до 30 кг
						td 2100 руб
				p.propose ПЕДЛАГАЕМ ВАМ СКИДКУ НА РОЛЬСТАВНИ -5% ОТ ЦЕНЫ КОНКУРЕНТОВ!
				p.stay Вы отстанетесь довольны качеством нашей работы и уровнем наших цен!
				p.come-back ЗВОНИТЕ, ПИШИТЕ, ПРИЕЗЖАЙТЕ В ГОСТИ!


					
			.for-free
					.wrap-for
						p.title-a АБСОЛЮТНО БЕСПЛАТНО:
						.zamer
							img(src="images/free.png", alt="")
							p
								a(href="") Вызвать замерщика*
						.to-cont
							img(src="images/free1.png", alt="")
							p
								a(href="") РАССЧИТАТЬ СТОИМОСТЬ
						a(href="#")
							img(src="images/social1.png", alt="")
						a(href="#")
							img(src="images/social2.png", alt="")
						a(href="#")
							img(src="images/social3.png", alt="")
						a(href="#")
							img(src="images/social4.png", alt="")
						a(href="#")
							img(src="images/social5.png", alt="")
						P.small *Бесплатный вызов замерщика осуществляется в пределах МКАДа
			.rolls-from
				h1 РОЛЬСТАВНИ ОТ ПРОИЗВОДИТЕЛЯ
				.serv-wrapper
					p.number 01
					.color-block-2
					a(rel="group" href="images/slide1.jpg" class="gallery")
						img(src="images/gal1.jpg")

					p.serv-top Рольставни для дома и дачи
					p.to-know
						a(href="#") УЗНАТЬ ПОДРОБНЕЕ
				.serv-wrapper
					p.number 02
					.color-block-2
					a(rel="group" href="images/slide1.jpg" class="gallery")
						img(src="images/gal1.jpg")

					p.serv-top Рольставни для дома и дачи
					p.to-know
						a(href="#") УЗНАТЬ ПОДРОБНЕЕ
				.serv-wrapper
					p.number 03
					.color-block-1
					a(rel="group" href="images/slide1.jpg" class="gallery")
						img(src="images/gal1.jpg")
					p.serv-top Рольставни для дома и дачи
					p.to-know
						a(href="#") УЗНАТЬ ПОДРОБНЕЕ
				.serv-wrapper
					p.number 04
					.color-block-1
					a(rel="group" href="images/slide1.jpg" class="gallery")
						img(src="images/gal1.jpg")
					p.serv-top Рольставни для дома и дачи
					p.to-know
						a(href="#") УЗНАТЬ ПОДРОБНЕЕ
			.footer-up
					.footer-top
						.logo
							img(src="images/footer-logo.png", alt="")
						.footer-slogan
							p КАЧЕСТВЕННЫЕ И НАДЕЖНЫЕ РОЛЬСТАВНИ ОТ ПРОИЗВОДИТЕЛЯ!
						.contacts
								img(src="images/phone-2.png", alt="")
								p +7(495) 722-47-45
								p +7(495) 722-47-45
			.footer-down
					.footer-bottom
						.work-info
							img(src="images/contact1.png", alt="")
							p.adress г.Москва, ул. Октября, 3
							img(src="images/contact2.png", alt="")
							p.adress График работы:
							p.adress2 Пн-Пт с 09:00 до 18:00
							img(src="images/contact3.png", alt="")
							p.adress info@rolprom.ru

						.links-footer
							ul
								li
									a(href="#") Рольставни
								li
									a(href="#") О компании
								li
									a(href="#") Услуги
								li
									a(href="#") Цены
							ul
								li
									a(href="#") Галерея
								li
									a(href="#") Информация
								li
									a(href="#") Контакты
								li
									a.hide(href="#") Контакты

						.footer-info
							p.about-site   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit nihil qui, hic officia magnam tempora eius itaque ipsa maxime incidunt quod voluptatibus eligendi odio 
							p.copyright ©Все права защищены
			.line-footer
